<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="about.css" />
    <title>About</title>
  </head>
  <body>
    {{!-- <h4>Hello {{name}}. Your age is {{age}}</h4> --}}
    {{#each users}}
      <h3>{{name}} is {{age}} years old</h3>
    {{/each}}
  </body>
</html>